body {
	background:rgb(36, 36, 36);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.all {
	height: 500px;
	width: 500px;
	background: url(photos/smurtas1.png);
	border: solid 10px rgb(69, 69, 69) ;
	border-radius: 30px;
	background-repeat: no-repeat;
	background-size:600px 500px;
	
	}

	#count-el {
		margin: 0px;
		padding: 0px;
		font-size: 100px;
	}

	#increment-btn {
		cursor: pointer;
		background: rgb(44, 176, 0);
		height: 45px;
		width: 115px;
		border: none;
        border-radius: 50px;
        border: solid 3px rgb(69, 69, 69) ;
        transition: 0.5s;
	}

	#increment-btn:hover{
		cursor: pointer;
		background: rgb(56, 224, 0);
		height: 50px;
		width: 125px;
		border: none;
        border-radius: 50px;
        border: solid 3px rgb(69, 69, 69) ;
	}
    #save-btn {
		cursor: pointer;
		background: rgb(179, 0, 0);
		height: 45px;
		width: 115px;
		border: none;
        border-radius: 50px;
        border: solid 3px rgb(69, 69, 69) ;
        transition: 0.5s;
	}

	#save-btn:hover{
		cursor: pointer;
		background: rgb(255, 0, 0);
		height: 50px;
		width: 125px;
		border: none;
        border-radius: 50px;
        border: solid 3px rgb(69, 69, 69) ;
}
    p {
	font-size: 20px;
	font-weight: bold;
    }